--- 
    title: "Elva Redesign - Contact Us"
---

%section
    .contact.header-img

%section
    .col-xs-12
        .container
            .row
                %h1.cabin.padding-bottom-15px Contact Us
                .col-xs-12
                    .col-xs-12.col-sm-6
                        .contact-info
                            %span.cabin.flow-text.grey
                                %i.fa.fa-map-marker{"aria-hidden" => "true"}
                                4040 Woodcock Dr, Suite 201, Jacksonville, FL 32207
                            %br
                            %span.cabin.flow-text.grey
                                %i.fa.fa-phone{"aria-hidden" => "true"}
                                +1 (904) 379-1723
                            %br
                            %span.cabin.flow-text.grey
                                %i.fa.fa-envelope{"aria-hidden" => "true"}
                                letstalk@tapelva.com
                            %br
                                %p.cabin.flow-text.grey
                                    = link_to "https://www.facebook.com/TapElva", class: 'orange' do 
                                        %i.fa.fa-lg.fa-facebook.padding-right-5px{"aria-hidden" => "true"}
                                    = link_to "https://www.linkedin.com/company/elva-marketing", class: 'orange' do
                                        %i.fa.fa-lg.fa-linkedin.padding-right-5px{"aria-hidden" => "true"}
                                    = link_to "https://plus.google.com/+Elvamarketing", class: 'orange' do 
                                        %i.fa.fa-lg.fa-google.padding-right-5px-plus{"aria-hidden" => "true"}
                                    = link_to "#", class: 'orange' do
                                        %i.fa.fa-lg.fa-twitter.padding-right-5px{"aria-hidden" => "true"}
                                    = link_to "#", class: 'orange' do
                                        %i.fa.fa-lg.fa-instagram.padding-right-5px{"aria-hidden" => "true"}
                                    = link_to "#", class: 'orange' do
                                        %i.fa.fa-lg.fa-dribbble.padding-right-5px{"aria-hidden" => "true"}

                        .map
                            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "300", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13778.890653305567!2d-81.6195099!3d30.301956!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x719faca9c27e5428!2sElva+Marketing!5e0!3m2!1sen!2sus!4v1493753111330", :style => "border:0; border-radius: 10px;", width: 500}
                    .col-xs-12.col-sm-6
                        .contact-info.padding-bottom-15px
                            %h2.cabin.orange Get In Touch
                            .padding-bottom-15px
                            %form
                                .input-group.input-group-lg
                                    %span#name.input-group-addon Name
                                    %input.form-control{"aria-describedby" => "name", :placeholder => "First & Last Name", :type => "text"}/
                                %br
                                .input-group.input-group-lg
                                    %span#email.input-group-addon Email
                                    %input.form-control{"aria-describedby" => "email", :placeholder => "example@domain.com", :type => "text"}
                                %br
                                .input-group.input-group-lg
                                    %span#phone.input-group-addon Phone
                                    %input.form-control{"aria-describedby" => "phone", :placeholder => "+1 (123) 456-7890", :type => "text"}/
                                %br
                                .pull-right
                                    %button.btn.btn-success.btn-lg{:type => "submit"} Submit

                    